.wrapper {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
  height: 6rem;
  border-radius: 15px;
  border: 2px solid blue;
  overflow: hidden;
  font-size: 2rem;
  margin: 0.5rem;
}

.input {
  display: block;
  position: relative;
  text-align: center;
  font-size: 2rem;
  height: 100%;
  border: none;
}

.btn {
  display: block;
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: none;
  z-index: 4;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.452);
}
